<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FencingPC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FencingPC.Properties.Settings>
            <setting name="SelectedWebCam" serializeAs="String">
                <value />
            </setting>
            <setting name="MainScreen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ResultScreen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseResultScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DocumentDir" serializeAs="String">
                <value />
            </setting>
        </FencingPC.Properties.Settings>
    </userSettings>
</configuration>